body {
  background: url(http://fc09.deviantart.net/fs70/f/2013/076/c/c/windows_8_desktop_background_by_greenthumb123-d5yc5co.jpg) left top no-repeat;
	background-color: #C0C0C0;
	color: #000;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin:0;
}

.noblogs{
	color: white;
	text-align: center;
	margin-top: 150px;
	font-size: 28px;
}

.info{
	color: white;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	top: 150px;
	font-size: 30px;
}

.infos{
	font-size: 30px !important;
}

div.welcome{        
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: right;
	height: 45px;
	background-color: black;
	color: white;
}  

div.welcome a{
	color: red;
	text-decoration: none;
	margin-right:10px;
}  

.innertext{
	top: 10px;
	position: relative;
	margin-right: 10px;
} 

div#footer{        	    
	width:100%;        
	height:45px;
	background-color: black;   
	color:white; 
	text-align:center;  
}     

.cpr{
	top: 13px;
	position: relative;
}   

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

#login h2 {
	background-color: #f95252;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
	margin:0;
}

#login {
	margin: 100px auto;
	width: 400px;
}

.signin {
	margin-right: 14px;
}

#login fieldset {
	background-color: #fff;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
	border:0;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input[type="text"], #login fieldset input[type="password"] {
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset input[type="submit"] {
	background-color: #33cc77;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}

#login fieldset input[type="submit"]:hover {
	background-color: #28ad63;
}


/* Register */
#register h2 {
	background-color: #f95252;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
	margin:0;
}

#register {
	margin: 100px auto;
	width: 400px;
}

#register h2 span {
	margin-right: 14px;
}

#register fieldset {
	background-color: #fff;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
	border:0;
}

#register fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#register fieldset p:last-child {
	margin-bottom: 0;
}

#register fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#register fieldset input[type="text"], #register fieldset input[type="password"] {
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#register fieldset input[type="submit"] {
	background-color: #33cc77;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}

#register fieldset input[type="submit"]:hover {
	background-color: #28ad63;
}

/* BLOGS Page*/

#maincontainer{
	position:relative;
	top:40px;
	width: 90%;
	margin: 0 auto;
	padding-top: 20px;
	min-height: 100%;
	margin-bottom: 45px;
}

.blogentry{
	width: 100%;
	border: 2px;
	border-radius: 5px;
	height: 80px;
	background-color: lightgrey;
	margin:16px;
	padding-left: 13px;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
	color: rgb(255, 112, 0);
}

.blogentry a{
	color: rgb(255, 112, 0);
	text-decoration: none;
}

.infopost{
	background-color: white;
	border-radius: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	margin-top: 15px;
}

.comment{
	background-color: #FCF9BD;
	border-radius: 10px;
	padding: 10px;
	margin: 9px;
	font-style: italic;
}

.mainlink{
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

.createcomment a{
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

.createpost a{
	font: bold 28px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

.deletePost a{
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

.deletePost{
	margin: 10px 10px;
}

.createpost{
	text-align: center;
	margin-top: 10px;
}

.noposts{
	margin: 30px;
	background-color: whitesmoke;
	border-radius: 5px;
	padding: 11px;
}

#message{
	width: 342px;
	height: 200px;
	margin-bottom:10px;
}

.details{
	width:98%;
	position: relative;
	top: 5px;
}

.createcomment{
	margin-top: 12px;
}

.author{
	color: green;
	font-size: 12px;
	font-style: italic;
	background: rgb(247, 236, 236);
	padding-left: 10px;
}

.blogentry .author{
	width: 98%;
	border-radius:10px;
}

.title{
	color: rgb(114, 57, 57);
	font-weight: bold;
	background-color: rgb(247, 236, 236);
	font-size: 20px;
	padding-left: 10px;
}

.commentAuthor{
	color: green;
	font-size: 12px;
	font-style: italic;
	padding-left: 10px;
}

.deleteBlog{
	float:right;
	margin: 6px 20px;
}

.deleteBlog a{
	font: bold 11px Arial;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

.cSuccess{
	font-size: 28px;
	position: relative;
	text-align: center;
	top: 150px;
	color: white;
}

.cSuccess a{
	color: red;
	text-decoration: none;
}

#error{
	color: white;
	font-size: 18px;
	margin: 100px auto;
	width: 400px;
}

.search{
	position: absolute;
	top: 0;
	left: 0;
}